<h1>Task 1 - User Overview Analysis</h1>
<hr><hr>

In [157]:
import os
import pandas as pd
import numpy as np

In [158]:
pwd = os.getcwd()
path = os.path.join(pwd, os.pardir, 'data/data_source.csv')

In [159]:
db = pd.read_csv(path, keep_default_na=True, na_values=['undefined'], parse_dates=['Start', 'End'])
db.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [160]:
# column names
db.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [161]:
# number of data points
print(f" There are {db.shape[0]} rows and {db.shape[1]} columns")

 There are 150001 rows and 55 columns

In [162]:
# information about the columns
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  datetime64[ns]
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  datetime64[ns]
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      140442 non-null  object
 30  Handset Type                              140442 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: datetime64[ns](2), float64(50), object(3)
memory usage: 62.9+ MB

<h2>Data Cleaning</h2>
<hr>

In [163]:
# how many missing values exist or better still what is the % of missing values in the dataset?
def percent_missing(df):

    # Calculate total number of cells in dataframe
    total_cells = np.product(df.shape)

    # Count number of missing values per column
    missing_count = df.isnull().sum()

    # Calculate total number of missing values
    total_missing = missing_count.sum()

    # Calculate percentage of missing values
    print(round(((total_missing/total_cells) * 100), 2), "%", "missing values.")

In [164]:
percent_missing(db)

12.72 % missing values.

In [165]:
db.isna().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                          9559
Handset Type                                  9559
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [185]:
# remove missing values
db.dropna(subset=['Start'], inplace=True)
db.dropna(subset=['MSISDN/Number'], inplace=True)
db.dropna(subset=['Bearer Id'], inplace=True)

In [189]:
# replace Last Location Name with unknown
db['Last Location Name'] = db['Last Location Name'].fillna(value='unknown')
db['Handset Manufacturer'] = db['Handset Manufacturer'].fillna(value='unknown')
db['Handset Type'] = db['Handset Type'].fillna(value='unknown')

In [197]:
# fill missing cells with column mean
db.fillna(db.mean(numeric_only=True).round(), inplace=True)

In [198]:
db.isna().sum()

Bearer Id                                   0
Start                                       0
Start ms                                    0
End                                         0
End ms                                      0
Dur. (ms)                                   0
IMSI                                        0
MSISDN/Number                               0
IMEI                                        0
Last Location Name                          0
Avg RTT DL (ms)                             0
Avg RTT UL (ms)                             0
Avg Bearer TP DL (kbps)                     0
Avg Bearer TP UL (kbps)                     0
TCP DL Retrans. Vol (Bytes)                 0
TCP UL Retrans. Vol (Bytes)                 0
DL TP < 50 Kbps (%)                         0
50 Kbps < DL TP < 250 Kbps (%)              0
250 Kbps < DL TP < 1 Mbps (%)               0
DL TP > 1 Mbps (%)                          0
UL TP < 10 Kbps (%)                         0
10 Kbps < UL TP < 50 Kbps (%)               0
50 Kbps < UL TP < 300 Kbps (%)              0
UL TP > 300 Kbps (%)                        0
HTTP DL (Bytes)                             0
HTTP UL (Bytes)                             0
Activity Duration DL (ms)                   0
Activity Duration UL (ms)                   0
Dur. (ms).1                                 0
Handset Manufacturer                        0
Handset Type                                0
Nb of sec with 125000B < Vol DL             0
Nb of sec with 1250B < Vol UL < 6250B       0
Nb of sec with 31250B < Vol DL < 125000B    0
Nb of sec with 37500B < Vol UL              0
Nb of sec with 6250B < Vol DL < 31250B      0
Nb of sec with 6250B < Vol UL < 37500B      0
Nb of sec with Vol DL < 6250B               0
Nb of sec with Vol UL < 1250B               0
Social Media DL (Bytes)                     0
Social Media UL (Bytes)                     0
Google DL (Bytes)                           0
Google UL (Bytes)                           0
Email DL (Bytes)                            0
Email UL (Bytes)                            0
Youtube DL (Bytes)                          0
Youtube UL (Bytes)                          0
Netflix DL (Bytes)                          0
Netflix UL (Bytes)                          0
Gaming DL (Bytes)                           0
Gaming UL (Bytes)                           0
Other DL (Bytes)                            0
Other UL (Bytes)                            0
Total UL (Bytes)                            0
Total DL (Bytes)                            0
dtype: int64

In [200]:
db.to_csv('../data/clean_data.csv')

<br>

In [166]:
# top 10 handsets used by the customers
db['Handset Type'].value_counts().nlargest(10)

Huawei B528S-23A                19752
Apple iPhone 6S (A1688)          9419
Apple iPhone 6 (A1586)           9023
Apple iPhone 7 (A1778)           6326
Apple iPhone Se (A1723)          5187
Apple iPhone 8 (A1905)           4993
Apple iPhone Xr (A2105)          4568
Samsung Galaxy S8 (Sm-G950F)     4520
Apple iPhone X (A1901)           3813
Samsung Galaxy A5 Sm-A520F       3724
Name: Handset Type, dtype: int64

In [167]:
# top 3 handset manufacturers
db['Handset Manufacturer'].value_counts().nlargest(3)

Apple      59565
Samsung    40839
Huawei     34423
Name: Handset Manufacturer, dtype: int64

In [168]:
# top 5 handsets per top 3 handset manufacturer
db['Handset Type'].where(db['Handset Manufacturer'] == 'Apple').value_counts().nlargest(5)

Apple iPhone 6S (A1688)    9419
Apple iPhone 6 (A1586)     9023
Apple iPhone 7 (A1778)     6326
Apple iPhone Se (A1723)    5187
Apple iPhone 8 (A1905)     4993
Name: Handset Type, dtype: int64

In [169]:
# top 5 handsets per top 3 handset manufacturer
db['Handset Type'].where(db['Handset Manufacturer'] == 'Samsung').value_counts().nlargest(5)

Samsung Galaxy S8 (Sm-G950F)    4520
Samsung Galaxy A5 Sm-A520F      3724
Samsung Galaxy J5 (Sm-J530)     3696
Samsung Galaxy J3 (Sm-J330)     3484
Samsung Galaxy S7 (Sm-G930X)    3199
Name: Handset Type, dtype: int64

In [170]:
# top 5 handsets per top 3 handset manufacturer
db['Handset Type'].where(db['Handset Manufacturer'] == 'Huawei').value_counts().nlargest(5)

Huawei B528S-23A                  19752
Huawei E5180                       2079
Huawei P20 Lite Huawei Nova 3E     2021
Huawei P20                         1480
Huawei Y6 2018                      997
Name: Handset Type, dtype: int64

In [171]:
user_db = db.groupby('MSISDN/Number').agg({
    "Bearer Id": "count",
    "Dur. (ms)": "sum",
    "Total DL (Bytes)": "sum",
    "Total UL (Bytes)": "sum",
    "Social Media DL (Bytes)": "sum",
    "Social Media UL (Bytes)": "sum",
    "Email DL (Bytes)": "sum",
    "Email UL (Bytes)": "sum",
    "Google DL (Bytes)": "sum",
    "Google UL (Bytes)": "sum",
    "Netflix DL (Bytes)": "sum",
    "Netflix UL (Bytes)": "sum",
    "Youtube DL (Bytes)": "sum",
    "Youtube UL (Bytes)": "sum",
    "Gaming DL (Bytes)": "sum",
    "Gaming UL (Bytes)": "sum",
    "Other DL (Bytes)": "sum",
    "Other UL (Bytes)": "sum",
}).rename(columns={
    "Bearer Id": "Session Count"
})
user_db.head()

,Session Count,Dur. (ms),Total DL (Bytes),Total UL (Bytes),Social Media DL (Bytes),Social Media UL (Bytes),Email DL (Bytes),Email UL (Bytes),Google DL (Bytes),Google UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes)
MSISDN/Number,,,,,,,,,,,,,,,,,,
3.360100e+10,1,116720.0,8.426375e+08,36053108.0,2206504.0,25631.0,837400.0,493962.0,3337123.0,1051882.0,10265105.0,16915876.0,14900201.0,6724347.0,8.110911e+08,1367528.0,377096990.0,9473882.0
3.360100e+10,1,181230.0,1.207552e+08,36104459.0,2598548.0,62017.0,2828821.0,478960.0,4197697.0,1137166.0,770569.0,10451194.0,5324251.0,7107972.0,1.050353e+08,14714780.0,279557701.0,2152370.0
3.360100e+10,1,134969.0,5.566597e+08,39306820.0,3148004.0,47619.0,2436500.0,768880.0,3343483.0,99643.0,16525919.0,2827981.0,2137272.0,19196298.0,5.290685e+08,9759228.0,495086501.0,6607171.0
3.360101e+10,1,49878.0,4.019932e+08,20327526.0,251469.0,28825.0,2178618.0,106052.0,5937765.0,3740728.0,1157362.0,784730.0,4393123.0,2584198.0,3.880748e+08,3051292.0,25248001.0,10031701.0
3.360101e+10,2,37104.0,1.363130e+09,94280527.0,2861230.0,51312.0,2247808.0,1057661.0,13728668.0,4770948.0,24971647.0,24230077.0,10339971.0,31193031.0,1.308981e+09,5816727.0,777643713.0,27160771.0

In [172]:
user_db["Total Data Transferred"] = user_db["Total UL (Bytes)"] + user_db["Total DL (Bytes)"]

In [173]:
user_db["Google Volume"] = user_db["Google UL (Bytes)"] + user_db["Google DL (Bytes)"]
user_db["Netflix Volume"] = user_db["Netflix UL (Bytes)"] + user_db["Netflix DL (Bytes)"]
user_db["Youtube Volume"] = user_db["Youtube UL (Bytes)"] + user_db["Youtube DL (Bytes)"]
user_db["Gaming Volume"] = user_db["Gaming UL (Bytes)"] + user_db["Gaming DL (Bytes)"]
user_db["Email Volume"] = user_db["Email UL (Bytes)"] + user_db["Email DL (Bytes)"]
user_db["Social Media Volume"] = user_db["Social Media UL (Bytes)"] + user_db["Social Media DL (Bytes)"]
user_db["Other Volume"] = user_db["Other UL (Bytes)"] + user_db["Other DL (Bytes)"]

In [174]:
user_db["Total Volume"] = user_db["Google Volume"] + user_db["Netflix Volume"] + user_db["Youtube Volume"] + user_db["Gaming Volume"] + user_db["Other Volume"] + user_db["Social Media Volume"] + user_db["Email Volume"]

In [175]:
user_db.head()

,Session Count,Dur. (ms),Total DL (Bytes),Total UL (Bytes),Social Media DL (Bytes),Social Media UL (Bytes),Email DL (Bytes),Email UL (Bytes),Google DL (Bytes),Google UL (Bytes),...,Other UL (Bytes),Total Data Transferred,Google Volume,Netflix Volume,Youtube Volume,Gaming Volume,Email Volume,Social Media Volume,Other Volume,Total Volume
MSISDN/Number,,,,,,,,,,,,,,,,,,,,,
3.360100e+10,1,116720.0,8.426375e+08,36053108.0,2206504.0,25631.0,837400.0,493962.0,3337123.0,1051882.0,...,9473882.0,8.786906e+08,4389005.0,27180981.0,21624548.0,8.124587e+08,1331362.0,2232135.0,386570872.0,1.255788e+09
3.360100e+10,1,181230.0,1.207552e+08,36104459.0,2598548.0,62017.0,2828821.0,478960.0,4197697.0,1137166.0,...,2152370.0,1.568596e+08,5334863.0,11221763.0,12432223.0,1.197501e+08,3307781.0,2660565.0,281710071.0,4.364173e+08
3.360100e+10,1,134969.0,5.566597e+08,39306820.0,3148004.0,47619.0,2436500.0,768880.0,3343483.0,99643.0,...,6607171.0,5.959665e+08,3443126.0,19353900.0,21333570.0,5.388277e+08,3205380.0,3195623.0,501693672.0,1.091053e+09
3.360101e+10,1,49878.0,4.019932e+08,20327526.0,251469.0,28825.0,2178618.0,106052.0,5937765.0,3740728.0,...,10031701.0,4.223207e+08,9678493.0,1942092.0,6977321.0,3.911261e+08,2284670.0,280294.0,35279702.0,4.475687e+08
3.360101e+10,2,37104.0,1.363130e+09,94280527.0,2861230.0,51312.0,2247808.0,1057661.0,13728668.0,4770948.0,...,27160771.0,1.457411e+09,18499616.0,49201724.0,41533002.0,1.314798e+09,3305469.0,2912542.0,804804484.0,2.235055e+09

In [176]:
user_db_clean = user_db[['Session Count', 'Dur. (ms)', 'Total Data Transferred', 'Social Media Volume', 'Google Volume',  'Email Volume', 'Youtube Volume', 'Netflix Volume', 'Gaming Volume', 'Other Volume']]

In [177]:
user_db_clean.describe()

,Session Count,Dur. (ms),Total Data Transferred,Social Media Volume,Google Volume,Email Volume,Youtube Volume,Netflix Volume,Gaming Volume,Other Volume
count,106856.000000,1.068560e+05,1.068560e+05,1.068560e+05,1.068560e+05,1.068560e+05,1.068560e+05,1.068560e+05,1.068560e+05,1.068560e+05
mean,1.389777,1.461672e+05,6.909621e+08,2.547967e+06,1.088243e+07,3.148796e+06,3.155840e+07,3.153833e+07,5.997690e+08,5.985088e+08
std,0.809863,1.863587e+05,4.910559e+08,1.908038e+06,7.544861e+06,2.222400e+06,2.129492e+07,2.128956e+07,4.491505e+08,4.489221e+08
min,0.000000,7.142000e+03,3.324901e+07,1.563000e+03,4.033000e+04,1.817600e+04,7.890300e+04,1.845690e+05,3.063580e+05,1.490450e+05
25%,1.000000,7.130800e+04,3.585499e+08,1.211282e+06,5.942636e+06,1.674481e+06,1.863109e+07,1.855597e+07,2.880631e+08,2.855599e+08
50%,1.000000,1.027400e+05,6.179231e+08,2.303756e+06,9.586153e+06,2.799824e+06,2.680038e+07,2.671889e+07,5.423492e+08,5.398323e+08
75%,2.000000,1.727990e+05,8.574351e+08,3.307509e+06,1.321474e+07,3.847198e+06,3.792798e+07,3.797696e+07,7.773041e+08,7.753975e+08
max,18.000000,1.855375e+07,8.846226e+09,4.337478e+07,1.521919e+08,4.241878e+07,4.529588e+08,3.995191e+08,7.749432e+09,8.167878e+09